[run]
branch = True
source = websocket
omit = 
    websocket/tests/*
    websocket/_wsdump.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
precision = 2

[xml]
output = coverage.xml
