[run]
branch = True
source = websocket-client
omit = websocket/tests/*,websocket/_wsdump.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
include = websocket/*
omit =
  websocket/tests/*
