*.pyc
*~
*\#
.\#*

build
.build/
dist
*.egg-info

.cache/
compliance/reports/
.eggs
.vscode

# venv
venv/
.venv/
.env/

# PyCharm
.idea/

# Sphinx documentation
docs/build/

# Code coverage
.coverage
coverage.xml

